body{
 margin: 0;
 background-image:url("background.jpg");
 background-size: cover;
 background-position: center;
 font-family: georgia, 'Times New Roman', Times, serif;
 text-align: center;

}

.container{
    background-color: rgb(236, 240, 241 ,0.4);
    width: 750px;
    margin: 120px auto;
    padding: 40px;
    border-radius: 25px;
}

h1{
    color:#014d36;
;
    font-size: 42px;
}

p{
 color:black;
 font-size: 18px;
}

button{
    background-color:#014d36;
;
    color: whitesmoke;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 40px;
    border:none;
}